body 
    {
        margin: 0;
        padding: 0;
    }

.content
    {
		font-size: 14px;
	    height:auto;
	    width:436px;
        color: black;
        margin: 25px auto;
    }
    
.content1
	{
		font-size: 14px;
	    height:auto;
	    width:452px;
     	-moz-box-sizing: border-box;  
    	box-sizing: border-box;
	    border:10px solid blue;
	    padding: 50px;
        color: black;
        margin: auto;
    }