body 
    {
        margin: 0;
        padding: 0;
    }
    .content
	{
	font-size: 14px;
    height: 100px;
    width: 200px;
	margin:25px;
	float:left;
	color: black;
	background-color:aquamarine;
    }
	
    .content1
    {
	font-size: 14px;
    height: auto;
    width: max;
	margin:5px;
	clear: both;
	color:black;
	background-color:bisque;
    }